# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build output
dist/

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Local env files
.env
.env.local
.env.*.local

# Serverless config files
serverless.yml
serverless.env.yml

# Other files
.DS_Store
.next
.npmrc
.yarn-metadata.json
.yarnrc
